version: "3.8"

services:
  app:
    image: python:3.10-slim
    container_name: python_app
    volumes:
      - .:/app
    working_dir: /app
    command: python app.py
    depends_on:
      - db
    ports:
     - "5000:5000"

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"
