services:
 web:
    image: python:3.10-slim
    container_name: my_web
    working_dir: /app
    volumes:
     - .:/app
    command: bash -c "pip install -r requirements.txt && python app.py"
    ports:
      - "5002:5000"
    depends_on:
      - db
 db:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: testdb
    ports:
      - "3307:3306"